*{
	/*font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;**/
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:12px;
}
h2{
	padding-left:15px;
	border:solid;
}
a{
	text-decoration:none;
}
body{
	
}
p{
	color: #E6E6E6;
	padding: 0px;
	text-align: justify;
	margin-top:0px;
}
#inicio{
	background-image: url("../../img/backgrounds/background_1.jpg");
	background-size: cover;
}
#canal1{
	background-image: url("../../img/backgrounds/background_2.jpg");
	background-size: cover;
}
#canal2{
	background-image: url("../../img/backgrounds/background_3.jpg");
	background-size: cover;
}
#canal3{
	background-image: url("../../img/backgrounds/background_4.jpg");
	background-size: cover;
}
#info{
	background-image: url("../../img/backgrounds/background_1.jpg");
	background-size: cover;
}
.header_logo{
	height:15%;
	opacity: 0.5;
	background: none;
	text-align: center;
}
.link_button{
	font-size:15px;
	color:red;
}
ul.menu{
	list-style: none;
	z-index: 100;
	width:50%;
	background:white;
	position:fixed;
	padding-left:0px;
}
ul.menu li{
	border-style: solid;
	border-width: 0.5px;
	border-color:grey;
	background:#E6E6E6;
	height:5%;
	padding: 2.5px;
	padding-left:10px;
	opacity:1;
	padding-top:6%;
	vertical-align:middle;
}
ul.menu li:hover{
	background:#BDBDBD;
}
li.titulo{
	color:orange;
}
li.faq{
	color:grey;
}
.info_music
{
	color:white;
}