*{
	/*font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;**/
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:12px;
}
h2{
	color:white;
	font-size:20px;
	text-align:center;
}
a{
	text-decoration:none;
}
body{
	
}
p{
	color: #E6E6E6;
	padding: 0px;
	text-align: justify;
	margin-top:0px;
}
.nav{
	/*border:solid;*/
	width:100%;
	position:fixed;
	margin-top:2px;
	/*background:grey;*/
}
#inicio{
	background-image: url("../../img/backgrounds/background_1.jpg");
	background-size: cover;
}
#canal1{
	background-image: url("../../img/backgrounds/background_2.jpg");
	background-size: cover;
}
#canal2{
	background-image: url("../../img/backgrounds/background_3.jpg");
	background-size: cover;
}
#canal3{
	background-image: url("../../img/backgrounds/background_4.jpg");
	background-size: cover;
}
#info{
	background-image: url("../../img/backgrounds/background_5.jpg");
	background-size: cover;
}
.header_logo{
	height:18%;
	background: none;
	text-align: center;
	position:fixed;
	z-index: 100;
}
.link_button{
	font-size:15px;
	color:red;
}
ul.menu{
	list-style: none;
	z-index: 100;
	width:65%;
	height:36%;
	background:white;
	position:fixed;
	padding-left:0px;
	margin-top:12%;
}
ul.menu li{
	border-style: solid;
	border-width: 0.5px;
	border-color:grey;
	background:#E6E6E6;
	height:12%;
	padding: 2.5px;
	padding-left:10px;
	opacity:1;
	padding-top:6%;
	vertical-align:middle;
	padding-left:20px;
}
ul.menu li:hover{
	background:#BDBDBD;
}
li.titulo{
	color:orange;
}
li.faq{
	color:grey;
}
.info_text
{
	color:white;
	margin-top:10%;
	overflow-y:scroll;
	height:350px;
	padding:10px;
}
.info_music
{
	color:white;
	margin-top:15%;
}
.footer{
	color:white;
	height:100px;
	width:100%;
	overflow-x:scroll;
	overflow-y:hidden;
	font-size:8px;
	position:relative;
	float:left;
}